@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ChatDemo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--引入样式表-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ChatPanel.css">
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <!--测试-->
    <div canvas="container">
        <div class="btn-group">
            <div class="btn btn-default open-right">打开</div>
            <div class="btn btn-default close-right" style="float:right">关闭</div>
            <p id="UnReadMsg" style="float:right"></p>
        </div>
    </div>
    <!--右侧ChatDemo-->
    <div off-canvas="sb-1 right reveal">
        <div id="chatbox">
            <!--显示ChatPanel面板以及内容-->
            <div id="friendslist">
                <div id="topmenu">
                    <span id="topmenu_chat" class="chats"></span>
                    <span id="topmenu_friends" class="friends"></span>
                </div>
                <!--好友面板-->
                <!--<div id="friends">
                    <div class="friend">
                        <img src="img/1_copy.jpg" />
                        <p>
                            <strong>Miro Badev</strong>
                            <span>mirobadev@gmail.com</span>
                        </p>
                        <div class="status available"></div>
                    </div>

                    <div class="friend">
                        <img src="img/2_copy.jpg" />
                        <p>
                            <strong>Martin Joseph</strong>
                            <span>marjoseph@gmail.com</span>
                        </p>
                        <div class="status away"></div>
                    </div>

                    <div class="friend">
                        <img src="img/3_copy.jpg" />
                        <p>
                            <strong>Tomas Kennedy</strong>
                            <span>tomaskennedy@gmail.com</span>
                        </p>
                        <div class="status inactive"></div>
                    </div>

                    <div class="friend">
                        <img src="img/4_copy.jpg" />
                        <p>
                            <strong>Enrique	Sutton</strong>
                            <span>enriquesutton@gmail.com</span>
                        </p>
                        <div class="status inactive"></div>
                    </div>

                    <div class="friend">
                        <img src="img/5_copy.jpg" />
                        <p>
                            <strong>	Darnell	Strickland</strong>
                            <span>darnellstrickland@gmail.com</span>
                        </p>
                        <div class="status inactive"></div>
                    </div>

                    <div id="search">
                        <input type="text" id="searchfield" value="Search contacts..." />
                    </div>

                </div>-->
                <!--所有人聊天面板-->
                <div id="userChatPanel">
                    <!--聊天信息-->
                    <div id="chat-messages" class="animate">
                        <label><span id="_spanDate">TodayTime</span></label>
                        <!--具体内容-->
                    </div>

                    <div id="sendmessage">
                        <input id="i_user_sendmsg" type="text" />
                        <button id="btn_user_send">发送</button>
                    </div>
                </div>
            </div>


            <!--对话面板-->
            <div id="chatview" class="p1" style="display:none">
                <div id="profile">

                    <div id="close">
                        <div class="cy"></div>
                        <div class="cx"></div>
                    </div>

                    <p>Miro Badev</p>
                    <span>miro@badev@gmail.com</span>
                </div>
                <div id="chat-messages">
                    <label>Thursday 02</label>

                    <div class="message">
                        <img src="img/1_copy.jpg" />
                        <div class="bubble">
                            Really cool stuff!
                            <div class="corner"></div>
                            <span>3 min</span>
                        </div>
                    </div>

                    <div class="message right">
                        <img src="img/2_copy.jpg" />
                        <div class="bubble">
                            Can you share a link for the tutorial?
                            <div class="corner"></div>
                            <span>1 min</span>
                        </div>
                    </div>

                    <div class="message">
                        <img src="img/1_copy.jpg" />
                        <div class="bubble">
                            Yeah, hold on
                            <div class="corner"></div>
                            <span>Now</span>
                        </div>
                    </div>

                    <div class="message right">
                        <img src="img/2_copy.jpg" />
                        <div class="bubble">
                            Can you share a link for the tutorial?
                            <div class="corner"></div>
                            <span>1 min</span>
                        </div>
                    </div>

                    <div class="message">
                        <img src="img/1_copy.jpg" />
                        <div class="bubble">
                            Yeah, hold on
                            <div class="corner"></div>
                            <span>Now</span>
                        </div>
                    </div>

                </div>

                <div id="sendmessage">
                    <input type="text" value="Send message..." />
                    <button id="send"></button>
                </div>

            </div>
        </div>
    </div>


    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/ChatPanel.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        //当前滑动窗口top
        var currentScroTop = 0;
        //当前窗口状态
        var currentState = "chat";
        //当前登录浏览器的用户ID
        var userID = "";
        //chat
        var chat;
        //信息
        var result;
        //右侧面板当前状态   打开/关闭
        var RightMenuState = false;
        //当前浏览器用户未读信息数目
        var CurrentUnReadMsgCount = 0;

        (function ($) {
            $(document).ready(function () {
                /*********
                **初始化
                **********/

                // 初始化右侧滑动栏
                var controller = new slidebars();
                controller.init();
                //初始化状态
                initState();
                //连接服务器
                ConnectToServer();


                /*********
                **事件监听
                **********/
                //ClearClientChatMsg(); 清空页面内容测试
                /**
                 * 控制滑动
                 */
                // 打开右侧面板    右侧面板打开，如果有未读消息，则清空
                $('.open-right').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    // 右侧打开
                    controller.open('sb-1');
                    //打开时进行右侧未读消息处理
                    RightMenuState = true;
                    UnReadMsgHandler();
                });



                // 关闭右侧面板
                $('.close-right').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();

                    // 右侧关闭
                    controller.close('sb-1');
                    RightMenuState = false;
                });

                //预先加载背景
                var preloadbg = document.createElement('img');
                preloadbg.src = 'img/timeline1.png';

                //搜索：聚焦时
                $('#searchfield').focus(function () {
                    if ($(this).val() == '此处填写信息...') {
                        $(this).val('');
                    }
                });
                //搜索：退出聚焦时
                $('#searchfield').focusout(function () {
                    if ($(this).val() == '') {
                        $(this).val('此处填写信息...');
                    }
                });
                //发送信息：聚焦
                $('#sendmessage input').focus(function () {
                    if ($(this).val() == '此处填写信息...') {
                        $(this).val('');
                    }
                });
                //发送信息：退出聚焦
                $('#sendmessage input').focusout(function () {
                    if ($(this).val() == '') {
                        $(this).val('此处填写信息...');
                    }
                });




                //监听消息是否需要加上前置时间标记
                chat.client.AddPreTimeLabel = function () {
                    ChatPanelAddPreTimeLabel();
                }

                //发送按钮点击事件
                $("#btn_user_send").click(function () {
                    //获取用户输入的信息
                    result = $("#i_user_sendmsg").val();
                    //若用户没有输入任何信息，提示
                    if (result == "" || result == "此处填写信息...") {
                        alert("请输入发送信息！");
                        return;
                    }
                    //将该条信息添加到用户聊天面板上
                    UserSendMsg("img/2.jpg", result);

                    //清空输入框信息
                    $("#i_user_sendmsg").val("");

                });

                //聊天版聊天信息监听
                chat.client.sendAllMessge = function (message) {
                    UserAcceptMsg("img/2.jpg", message);
                }

                //服务器告知客户端信息发送成功
                chat.client.OwnSendMsgSuccess = function (canSend, havePreTime, _img, _info) {
                    //用户可以将自己发送的信息添加到面板上
                    UserCanSendMsg(canSend, havePreTime, _img, _info);
                }

                //好友面板
                $('.friend').each(function () {
                    $(this).click(function () {
                        //获取当前点选元素偏移
                        var childOffset = $(this).offset();
                        //获当前点选元素父级偏移  friendlist
                        var parentOffset = $(this).parent().parent().offset();
                        //计算当前点击元素与friendlist的top之差
                        var childTop = childOffset.top - parentOffset.top;
                        //获取点击元素的头像clone
                        var clone = $(this).find('img').eq(0).clone();
                        var top = childTop + 12 + 'px';
                        //给Chat面板添加人物头像图片top
                        $(clone).css({ 'top': top }).addClass('floatingImg').appendTo('#chatbox');
                        //100毫秒后将好友对话面板上方的backimg添加动画显示
                        setTimeout(function () {
                            $('#profile p').addClass('animate');
                            $('#profile').addClass('animate');
                        }, 100);
                        //将对话信息添加动画显示
                        setTimeout(function () {
                            $('#chat-messages').addClass('animate');
                            $('.cx, .cy').addClass('s1');
                            setTimeout(function () {
                                $('.cx, .cy').addClass('s2');
                            }, 100);
                            setTimeout(function () {
                                $('.cx, .cy').addClass('s3');
                            }, 200);
                        }, 150);
                        $('.floatingImg').animate({
                            'width': '68px',
                            'left': '108px',
                            'top': '20px'
                        }, 200);
                        //获取点击人物元素的信息
                        var name = $(this).find('p strong').html();
                        var email = $(this).find('p span').html();
                        $('#profile p').html(name);
                        $('#profile span').html(email);
                        $('.message').not('.right').find('img').attr('src', $(clone).attr('src'));
                        //将朋友面板隐藏
                        $('#friendslist').fadeOut();
                        //显示对话面板
                        $('#chatview').fadeIn();
                        //关闭对话面板
                        $('#close').unbind('click').click(function () {
                            //将添加过动画的类移出
                            $('#chat-messages, #profile, #profile p').removeClass('animate');
                            $('.cx, .cy').removeClass('s1 s2 s3');
                            $('.floatingImg').animate({
                                'width': '40px',
                                'top': top,
                                'left': '12px'
                            }, 200, function () {
                                $('.floatingImg').remove();
                            });
                            //将朋友面板移入，移出对话面板
                            setTimeout(function () {
                                $('#chatview').fadeOut();
                                $('#friendslist').fadeIn();
                            }, 50);
                        });
                    });
                });

                //点击切换到朋友列表
                $("#topmenu_friends").click(function () {
                    if (currentState == "friend") return;
                    //切换状态以及面板
                    changeSelectedState("friend");
                });

                //点击切换到聊天室面板
                //聊天室面板点击
                $('#topmenu_chat').click(function () {
                    if (currentState == "chat") return;
                    //切换状态
                    changeSelectedState("chat");
                    //切换面板
                    //setTimeout(function () {
                    //    $('#chat-messages').addClass('animate');
                    //    $('.cx, .cy').addClass('s1');
                    //    setTimeout(function () {
                    //        $('.cx, .cy').addClass('s2');
                    //    }, 100);
                    //    setTimeout(function () {
                    //        $('.cx, .cy').addClass('s3');
                    //    }, 200);
                    //}, 150);
                    //$('#chatview').fadeIn();

                });
            });
        })(jQuery);


        /*********************************
        **根据当前用户屏幕进行聊天窗体调整
        **********************************/
        //当窗口大小变化时
        window.onresize = onWindowResize();
        //根据浏览器窗口大小对聊天面板进行设置
        function onWindowResize() {
            var height = (document.body.clientHeight - 181).toString() + "px";
            $("#chat-messages").css("height", height);
        }
    </script>

</body>
</html>

